@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@font-face {
  font-family: titulos;
  src: url(../../tipografias/TrajanPro-Regular.otf);
}
@font-face {
  font-family: body;
  src: url(../../tipografias/GARA.TTF);
}
@font-face {
  font-family: frases;
  src: url(../../tipografias/Austhina\ Brush\ Calligraphy\ Scratch\ .ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.wap {
  position: fixed;
  height: 3rem;
  width: 3rem;
  bottom: 13px;
  right: 13px;
  z-index: 100;
}

.banner {
  padding: 5% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.banner .sentidos .p1 {
  font-family: "Libre Baskerville", serif;
  font-family: "Poiret One", cursive;
  color: #D0CCB3;
  font-size: 3.5em;
  font-weight: bold;
}

.logo img {
  width: 270px;
}

.p2 {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
  color: #D0CCB3;
}

@font-face {
  font-family: "Open Sans";
  src: url("/media/GARAIT.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 70px;
  transition: 0.7s ease-out;
}
.menu-nav.scrolled {
  height: 90px;
  background: rgba(13, 2, 4, 0.8);
}
.menu-nav .social {
  left: 3%;
  position: absolute;
}
.menu-nav .social a i {
  font-size: 1em;
  color: #D0CCB3;
  margin: 0% 5px;
}
.menu-nav ul {
  display: flex;
  list-style: none;
  font-size: 1em;
  padding-left: 0;
  margin-bottom: 0;
}
.menu-nav ul li {
  padding: 0 10px;
}
.menu-nav ul li a {
  font-family: "Poiret One", cursive;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}
.menu-nav input {
  display: none;
}
.menu-nav label {
  display: inline;
}
.menu-nav label .btn {
  display: none;
  position: absolute;
  width: 56px;
  height: 43px;
  right: 2.5rem;
  top: 3.3rem;
  cursor: pointer;
  /*fin boton burguer*/
}
.menu-nav label .btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  margin-top: 6px;
  transition: all 300ms;
  transform-origin: 0px 100%;
  /*transformacion de la cruz*/
  /* fin transformacion de la cruz*/
}
.menu-nav label .btn span.linea1active {
  transform: rotate(45deg) translate(-2px, 1px);
}
.menu-nav label .btn span.linea2active {
  opacity: 0;
  margin-left: -30px;
}
.menu-nav label .btn span.linea3active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
.menu-nav label .btn:hover {
  border: inherit;
}

.shadow-layer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(0deg, #0D0204, transparent, #0D0204);
  z-index: 96;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: height 999999999s ease;
}
header .images {
  height: 100vh;
}
header .images .title {
  position: absolute;
  z-index: 99;
  width: 30vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poiret One", cursive;
  color: #D0CCB3;
  font-size: inherit;
  opacity: 0;
  animation: appear 5s cubic-bezier(0.5, 0.74, 0.14, 0.99) 5s forwards;
}
header .images .title H1 {
  font-size: 6rem !important;
}
header .images .scaling {
  background-image: url("../../media/Aereas 4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  transition: height 999999999s ease;
  animation: scaling 15s linear infinite alternate forwards;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 980px) {
  nav ul {
    display: flex;
    padding: 28% 0%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background-color: #3FB6B0;
    z-index: 98;
    left: 100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    font-size: 2em;
    padding-left: 0px;
  }
  nav ul li a {
    color: #D3E4CD;
  }
  nav ul li a:active {
    color: #874F9D;
  }
  nav #menu-burguer:checked ~ label .btn span {
    background: #D3E4CD;
  }
  nav label .btn {
    display: block !important;
    right: 1.5rem;
    top: 1.3rem;
    z-index: 99;
  }
}
.colapse {
  left: 0;
}

.intro {
  background-image: url("../../media/fondo.png");
  width: 100%;
  height: 100%;
  padding: 10%;
  color: white;
  font-family: body;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro p {
  font-size: 1.2rem;
  padding-top: 5%;
}
.intro #fontTitulo {
  font-family: titulos;
}

.espacios {
  background-color: #0d0204;
}
.espacios .contenedor-espacios {
  font-family: body;
  display: flex;
}
.espacios .contenedor-espacios:nth-child(even) .espacios-descripcion {
  order: -1;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios:nth-child(even) .espacios-descripcion {
    order: inherit;
  }
}
.espacios .contenedor-espacios .espacios-imagen {
  width: 50%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios .espacios-imagen {
    width: 100%;
  }
}
.espacios .contenedor-espacios .espacios-imagen img {
  padding: 7%;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.espacios .contenedor-espacios .espacios-imagen h2, .espacios .contenedor-espacios .espacios-imagen h3 {
  transform: translate(-50%, -50%);
}
.espacios .contenedor-espacios .espacios-imagen #fontTitulo {
  position: absolute;
  font-family: titulos;
  color: white;
  top: 10%;
  left: 40%;
  background-color: #8d323a;
  padding: 10px 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .espacios .contenedor-espacios .espacios-imagen #fontTitulo {
    left: 40%;
  }
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios .espacios-imagen #fontTitulo {
    left: 25%;
  }
}
@media screen and (max-width: 772px) {
  .espacios .contenedor-espacios .espacios-imagen #fontTitulo {
    left: 50%;
  }
}
.espacios .contenedor-espacios .espacios-imagen #fontFrase {
  position: absolute;
  font-family: frases;
  color: white;
  bottom: 8%;
  left: 78%;
  /*         RAAAAAAAAAAAAARI            */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .espacios .contenedor-espacios .espacios-imagen #fontFrase {
    left: 77%;
  }
}
@media screen and (max-width: 992px) {
  .espacios .contenedor-espacios .espacios-imagen #fontFrase {
    left: 85%;
  }
}
@media screen and (max-width: 772px) {
  .espacios .contenedor-espacios .espacios-imagen #fontFrase {
    left: 50%;
  }
}
.espacios .contenedor-espacios .espacios-descripcion {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-align: justify;
}
.espacios .contenedor-espacios .espacios-descripcion p {
  padding: 7%;
  color: gray;
}

.contacto {
  background-image: url("../../media/fondo.png");
  background-size: cover;
  color: #fff;
}
.contacto h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 15px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 25px;
}
.contacto .contact-left {
  width: 100%;
  float: left;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .contacto .contact-left {
    margin: 0 0 20px;
  }
}
.contacto .contact-left ul {
  margin: 0;
  list-style-type: none;
  padding: inherit;
}
.contacto .contact-left ul li {
  margin: 0 0 20px;
}
.contacto .contact-left ul li .icon {
  display: table-cell;
  vertical-align: middle;
  width: 70px;
}
.contacto .contact-left ul li .icon .fa {
  width: 50px;
  line-height: 48px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}
.contacto .contact-left ul li .contact-info {
  display: table-cell;
  vertical-align: middle;
}
.contacto .contact-left ul li .contact-info p {
  font-size: 15px;
  margin: 0 0 15px;
  font-weight: 300;
  line-height: 24px;
}
.contacto .contact-right .form-control {
  height: 50px;
  color: #fff;
  box-shadow: none !important;
  border: 1px solid #faf9f9;
  background: none;
  font-weight: 300;
  margin-bottom: 15px;
}
.contacto .contact-right .form-control .form-control:focus {
  border-color: #8b1f31;
  outline: none !important;
}
.contacto .contact-right .form-control textarea {
  height: auto;
}
.contacto .contact-right .btn-primary {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  line-height: 42px;
  padding: 0 30px;
  display: inline-block;
  border: 1px solid #8b1f31;
  background: orange;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
}
.carousel-inner .carousel-item .carousel-caption {
  background: rgb(141, 50, 58);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3869922969) 100%);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem;
}
.carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 3rem;
  font-family: titulos;
}
.carousel-inner .carousel-item .carousel-caption p {
  font-family: body;
  font-size: 1.2rem;
}
@media screen and (min-width: 772px) and (max-width: 1024px) {
  .carousel-inner .carousel-item .carousel-caption {
    padding: 1rem 7rem;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 1.5rem;
  }
  .carousel-inner .carousel-item .carousel-caption p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 772px) {
  .carousel-inner .carousel-item .carousel-caption {
    padding: 10px;
  }
  .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-inner .carousel-item .carousel-caption p {
    font-size: 13px;
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: inherit;
}

.ubicacion {
  background-color: #f5efd3;
}

.map {
  width: 75%;
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */