.carousel-inner{
    height: 100vh;
    background: rgb(13,2,4);
    .carousel-item{
        height: inherit;
        .shadow-layer{
            z-index: 0;
        }
      img{
            height: 100%;
            margin: auto;

        }
        .w-100{
            width: auto!important;
            
        }
        .carousel-caption{
            
            
            padding: 0 5%;
            h5{
                font-size:3rem;
                font-family: titulos;
            }
            p{
                font-family: body;
                font-size: 1.2rem;
            }
            @media screen and (min-width: 772px) and (max-width: 1024px) { //tablet
                padding: 1rem 7rem;
                h5{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
            
            @media screen and (max-width: 772px) { //mobile 
                padding: 10px;
                h5{
                    font-size: 17px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}
.carousel-control-prev, .carousel-control-next{
    opacity: inherit;
    width: 8%;
    .carousel-control-prev-icon,.carousel-control-next-icon{
        border:transparent solid 3px;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        transition: all .3s ease-in;
        &:hover{
            border:white solid 2px;
        
        }
    }
}
