*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: titulos;
    src: url(../../tipografias/TrajanPro-Regular.otf);
 }
 @font-face {
    font-family: body;
    src: url(../../tipografias/GARA.TTF);
 }