
.espacios{
    // background-color: #0d0204;
    .contenedor-espacios{
        font-family: body;
        display: flex;
        height: 100vh;
        --bs-gutter-x: none;
        &:nth-child(even){
            .espacios-descripcion{
                background: rgb(13,2,4);
                
                //en las pares el texto se va a acomodar a la izq
                order: -1;
                @media screen and (max-width: 992px) {
                    order: inherit;
                }
            }
        }
        .espacios-imagen{
            width: 50%;
            padding: 0;
            height: 100%;
            position: relative;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
            h2, h3{
                transform: translate(-50%, -50%);
                
            }
            
            #fontFrase{
                position: absolute;
                font-family: frases;
                color: white;
                bottom: 8%;
                left: 78%;

                    /*         RAAAAAAAAAAAAARI            */
                @media screen and (min-width: 768px) and (max-width: 1024px) { //tablet
                    left: 77%;
                }
                @media screen and (max-width: 992px) { //tablet chiquito mobile grande 
                    left: 85%;
                }
                @media screen and (max-width: 772px) { //mobile chiquito
                    left: 50%;
                }
            }
        }
        .espacios-descripcion{
            flex-direction: column;
            font-size: 1.5rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 7%;
            
            #fontTitulo{
                font-family: titulos;
                color: $color-primario;
                font-weight: 600;
                font-size: xxx-large;
            }
            p{
                
                color: gray;
            }
        }
        
    }
    
    
}
